.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  font-family: monospace;
  border-bottom: 1px solid lightgray;
  padding: 0.5rem 1rem;

  .themeButton {
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: var(--color);
    fill: var(--color);
    stroke: var(--color);
  }
}
