.actionBtns {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  .shuffleAndClearBtns {
    display: flex;
    justify-items: stretch;
    gap: 0.5rem;

    button {
      flex-grow: 1;
    }
  }
}

@media only screen and (max-width: 800px) {
  .action-button.submitBtn {
    width: 100%;
  }
}

@media only screen and (min-width: 1000px) {
  .actionBtns {
    flex-direction: row-reverse;
    justify-content: space-between;

    .submitBtn {
      width: 50%;
    }
  }
}

.shake {
  animation-name: shake;
  animation-duration: 300ms;

  animation-fill-mode: forwards;
}

@keyframes shake {
  0% {
    translate: 0;
  }

  33% {
    translate: -4px;
    background-color: rgb(255, 85, 85);
    background-color: color-mix(
      in hsl,
      rgb(255, 85, 85) 50%,
      var(--tile-selected-background-color)
    );
  }

  66% {
    translate: 4px;
  }

  100% {
    translate: 0;
    background-color: var(--tile-selected-background-color);
  }
}
